html {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
  }
  
  header {
    background-color: brown;
    padding: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid rgb(156, 135, 74);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }
  
  .profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  .profile div h2 {
    font-size: 30px;
    margin-bottom: 18px;
  }
  
  nav {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  nav a {
    color: #a52a2a;
    margin-right: 10px;
  }
  
  nav a:hover{
    color: #472aa5;
  }

  nav a i {
    margin-right: 3px;
  }
  
  i {
    color: #a52a2a;
  }
  
  .educationMain {
    background-color: #a52a2a;
    width: 70%;
    margin: auto;
    border: 2px solid rgb(156, 135, 74);
    border-radius: 10px;
    padding: 3%;
    text-align:left;
    display: flex;
    gap: 30px;
  }

  .educationMain table{
    border: 2px solid white;
    width:-webkit-fill-available;
    text-align: center;
  }

  .educationMain th, .educationMain td{
    padding: 15px;
  }

  tr{
    border: 2px solid white;
  }